#noNews {
    text-align: center; 
    top: 50%; 
    position: absolute  
}

#noNews p {
    font-size: 30px;
}

#card {
    margin: 10% 10%;
    padding: 2%;
    box-shadow: 1px 1px 1px rgb(160, 160, 160);
}

#card img {
    // max-width: 100%;
    max-height: 200px;
    object-fit: cover;
}