#card-show {
    margin: 1% 13%;
}

#card-show img {
    margin-left: 15%;
    max-width: 100%;
    max-height: 200px;
    object-fit: fill;
}

#card-show h5 {
    text-align: center;
}

#card-show p {
    margin-top: 2%;
    padding: 2%;
    text-align: justify;
    font-size: medium;
}