/** Layout */

/** Pages */

#noNews {
  text-align: center;
  top: 50%;
  position: absolute;
}

#noNews p {
  font-size: 30px;
}

#card {
  margin: 10% 10%;
  padding: 2%;
  box-shadow: 1px 1px 1px #a0a0a0;
}

#card img {
  max-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

#news {
  position: absolute;
  left: 25%;
  top: 10%;
}

#news h1 {
  text-align: center;
}

#btn-right {
  text-align: right;
}

.form-group {
  margin-bottom: 2%;
}

#card-show {
  margin: 1% 13%;
}

#card-show img {
  margin-left: 15%;
  max-width: 100%;
  max-height: 200px;
  -o-object-fit: fill;
     object-fit: fill;
}

#card-show h5 {
  text-align: center;
}

#card-show p {
  margin-top: 2%;
  padding: 2%;
  text-align: justify;
  font-size: medium;
}

/** Category */

#category {
  margin-left: 35%;
  margin-top: 5%;
}

#category h1 {
  text-align: center;
  margin-bottom: 5%;
}

#btn-right {
  text-align: right;
}

.form-group {
  margin-bottom: 2%;
}

